.lichan{
    text-decoration: underline overline wavy;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
.menu li{
    list-style-type: none;
}
#material{ /*การเรียงเนื้อหา colum*/
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}
li, a, button{
    font-weight: 500;
    font-size: 20px;
    color:rgb(255, 255, 255); /*ข้อความในปุ่ม*/
    text-decoration: none; 
    
}
header{
    display: flex; /*เรื่องปุ่มนำทางแนว row*/
    flex-direction: row;
    justify-content: space-between; 
    padding: 10px 10%;
}
.nav_link li{
    list-style: none;
    display: inline-block; 
    padding: 0px 20px;
}

nav_link li a{
    transition: all 0.3s ease 0s;
    
}
li a:hover{
    color: blue;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 5);
    border: none;
    border-radius: 50px;
    cursor: pointer; /* เปลี่ยนตัวชี้เป็น pointer*/
    transition: all 0.3s ease 0s;
}
li{
    color: black;
}
.x{
    background-color: black;

}
.location{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    background-color: #ff66ff;
    padding: 10px;
}
.location section{
    background-color: rgb(209, 209, 255);
}
.one{
    grid-column: 1/2;
    grid-row: 1/2;
}
.two{
    grid-column: 1/2;
    grid-row: 2/3;
}
.three{
    grid-column: 1/2;
    grid-row: 3/4;
}
.four{
    grid-column: 1/2;
    grid-row: 4/5;
}
.five{
    grid-column: 1/2;
    grid-row: 5/6;
}
.six{
    grid-column: 1/2;
    grid-row: 6/7;
}
.seven{
    grid-column: 2/3;
    grid-row: 1/7;
}
.t{
    text-align: center;
}
.refer{
    color: black;
}
.refer:hover{
    color: blue;
}