body{
    background-image: url("../images/bokeh_car_lights_bg.jpg");
    margin: 0;
    padding: 0;
}
.head li{
    list-style: none;
}
.head li a{
    text-decoration: none;
}
.list{
    padding: 0px 10px;
    
}
.Container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px;
    padding: 50px;
}

section{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.menu ul{
   
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    display: flex;
    opacity: 0.6;
}

.menu li{
    font-size: 1.1em;
    line-height: 40px;
    text-transform: uppercase;
   
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    transition: .3s;
}
.menu a:hover{
    background-color: #fff;
    color: black;
}
.Container section:hover{
    background-color: #a5adad;
    transition: .2s;
}
@media screen and (max-width: 750px){
    .Container{
        display: grid;
        grid-template-columns: 1fr;
    }

}
footer{ 
    font-size: 1em;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    opacity: 0.6;
}
.one img{
    width: 150px;
    height: 150px;
}
.one a{
    text-decoration: none;
}
.two img{
    width: 150px;
    height: 150px;
}
.two a{
    text-decoration: none;
}
.three img{
    width: 150px;
    height: 150px;
}
.three a{
    text-decoration: none;
}
.four img{ /*ปรับขนาดรูปภาพ*/
    width: 150px;
    height: 150px;
}
.four a{
    text-decoration: none;
}
.Container a{   /*เปลี่ยนสีปุ่มดาวโหลด*/
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.Container a:hover{ /*เปลี่ยนสีปุ่มดาวโหลดเมื่อเม้าชึ้*/
    background-color: #fff;
    color: black;
}
