body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
.menu li{
    list-style-type: none;
}
#material{ /*การเรียงเนื้อหา colum*/
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}
li, a, button{
    font-weight: 500;
    font-size: 20px;
    color:rgb(255, 255, 255); /*ข้อความในปุ่ม*/
    text-decoration: none; 
    
}
header{
    display: flex; /*เรื่องปุ่มนำทางแนว row*/
    flex-direction: row;
    justify-content: space-between; 
    padding: 10px 10%;
}
.nav_link li{
    list-style: none;
    display: inline-block; 
    padding: 0px 20px;
}

nav_link li a{
    transition: all 0.3s ease 0s;
    
}
li a:hover{
    color: blue;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 5);
    border: none;
    border-radius: 50px;
    cursor: pointer; /* เปลี่ยนตัวชี้เป็น pointer*/
    transition: all 0.3s ease 0s;
}

.one{
    opacity:0.9; 
    filter: contrast(80%);

}
.two{
    position:absolute; 
    color: white;
    top: 500px;
    left: 300px;
    
}
.two p{
    
    text-align: left;
    font-size: 20px;
}
.three{
    background-color: yellow;
    filter: contrast(120%);
}
.four{
    position:absolute;
    color: black;
    top: 130%;
    left: 40%;
    font-size: 40px;
    
}
footer{
    margin: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}
