body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu li{
    list-style-type: none;
}
#material{ /*การเรียงเนื้อหา colum*/
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}
li, a, button{
    font-weight: 500;
    font-size: 20px;
    color:rgb(255, 255, 255); /*ข้อความในปุ่ม*/
    text-decoration: none; 
    
}
header{
    display: flex; /*เรื่องปุ่มนำทางแนว row*/
    flex-direction: row;
    justify-content: space-between; 
    padding: 10px 10%;
}
.nav_link li{
    list-style: none;
    display: inline-block; 
    padding: 0px 20px;
}

nav_link li a{
    transition: all 0.3s ease 0s;
    
}
li a:hover{
    color: blue;
}
button{
    padding: 9px 25px;
    background-color: rgba(28, 116, 11, 5);
    border: none;
    border-radius: 50px;
    cursor: pointer; /* เปลี่ยนตัวชี้เป็น pointer*/
    transition: all 0.3s ease 0s;
    
}
.x{
    background-color: black;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    background-color: #ff66ff;
    padding: 10px;
  }
  .grid-container > section {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .item2 li{
      list-style: none;
      text-align: left;
      padding: 10px;
  }
  .item7{
      grid-column: 2/3;
      grid-row: 5/9;
  }

 .item11{
     grid-column: 1/2;
    grid-row: 9/13;
 }
 li{
     color: black;
 }
